<section data-type="profile-user" class="home-tabs">

  <article class="articles-wrapper" role="tabpanel">
  <ul id="myTab" class="nav nav-tabs-home cf" role="tablist">
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" aria-expended="true">All</a></li>
    <li role="presentation"><a href="#random" aria-controls="random" role="tab" data-toggle="tab" aria-expended="false">Random</a></li>
    <li role="presentation"><a href="#mvoted" aria-controls="mvoted" role="tab" data-toggle="tab" aria-expended="false">Most Voted</a></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="all" aria-labelledby="all-tab">
      <ul><%= render @entries_all %></ul>
      <%= will_paginate @entries_all %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="random" aria-labelledby="random-tab">
      <ul><%= render @entries_random %></ul>
      <%= will_paginate @entries_random %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="mvoted" aria-labelledby="mvoted-tab"><p>Lorem ipsum dolor sit amet.</p></div>

  </div>

  </article>
</section>
