<section data-type="profile-user" class="home-tabs">

  <article class="articles-wrapper" role="tabpanel">
  <ul id="myTab" class="nav nav-tabs-home cf" role="tablist">
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" aria-expended="true">All</a></li>
    <li role="presentation"><a href="#random" aria-controls="random" role="tab" data-toggle="tab" aria-expended="false">Random</a></li>
    <li role="presentation"><a href="#mvoted" aria-controls="mvoted" role="tab" data-toggle="tab" aria-expended="false">Most Voted</a></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="all" aria-labelledby="all-tab">
      <a class="tab-block" href="#">
      <img class="tab-img" />
      <h5>Im a title of the Entry</h5>
      <p class="mini-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, consectetur, consequatur, ea, iste doloremque autem impedit est ut ullam quos commodi repellat dolore quidem vitae praesentium id rerum molestiae in sapiente iure! Ex, architecto laudantium quaerat sapiente consequuntur ad assumenda laborum et modi minima at ea neque nemo deleniti itaque? Consequatur, veniam debitis ipsam earum est error consequuntur iusto quam maxime. Est, consectetur, explicabo, aspernatur modi illo minus dolor labore nam sequi alias aliquam dolorem hic nobis obcaecati ex commodi aliquid. Pariatur, suscipit, ullam ea saepe et a nam quo iste adipisci rem architecto accusamus laboriosam nisi! Repellendus, qui magnam! Debitis, molestiae, fuga, vel quaerat eveniet tempora aut neque quis nulla suscipit doloremque fugiat id ut facere excepturi ipsa earum rerum. Dolor, consectetur, deleniti, laborum, eaque doloribus repellendus aperiam ex porro illum molestias magnam facere provident facilis nisi nam soluta beatae debitis. Et, recusandae, laudantium consequatur sed veritatis delectus rem.</p>
    </a>

    <a class="tab-block" href="#">
      <img class="tab-img" />
      <h5>Im a title of the Entry</h5>
      <p class="mini-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, consectetur, consequatur, ea, iste doloremque autem impedit est ut ullam quos commodi repellat dolore quidem vitae praesentium id rerum molestiae in sapiente iure! Ex, architecto laudantium quaerat sapiente consequuntur ad assumenda laborum et modi minima at ea neque nemo deleniti itaque? Consequatur, veniam debitis ipsam earum est error consequuntur iusto quam maxime. Est, consectetur, explicabo, aspernatur modi illo minus dolor labore nam sequi alias aliquam dolorem hic nobis obcaecati ex commodi aliquid. Pariatur, suscipit, ullam ea saepe et a nam quo iste adipisci rem architecto accusamus laboriosam nisi! Repellendus, qui magnam! Debitis, molestiae, fuga, vel quaerat eveniet tempora aut neque quis nulla suscipit doloremque fugiat id ut facere excepturi ipsa earum rerum. Dolor, consectetur, deleniti, laborum, eaque doloribus repellendus aperiam ex porro illum molestias magnam facere provident facilis nisi nam soluta beatae debitis. Et, recusandae, laudantium consequatur sed veritatis delectus rem.</p>
    </a>

    <a class="tab-block" href="#">
      <img class="tab-img" />
      <h5>Im a title of the Entry</h5>
      <p class="mini-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, consectetur, consequatur, ea, iste doloremque autem impedit est ut ullam quos commodi repellat dolore quidem vitae praesentium id rerum molestiae in sapiente iure! Ex, architecto laudantium quaerat sapiente consequuntur ad assumenda laborum et modi minima at ea neque nemo deleniti itaque? Consequatur, veniam debitis ipsam earum est error consequuntur iusto quam maxime. Est, consectetur, explicabo, aspernatur modi illo minus dolor labore nam sequi alias aliquam dolorem hic nobis obcaecati ex commodi aliquid. Pariatur, suscipit, ullam ea saepe et a nam quo iste adipisci rem architecto accusamus laboriosam nisi! Repellendus, qui magnam! Debitis, molestiae, fuga, vel quaerat eveniet tempora aut neque quis nulla suscipit doloremque fugiat id ut facere excepturi ipsa earum rerum. Dolor, consectetur, deleniti, laborum, eaque doloribus repellendus aperiam ex porro illum molestias magnam facere provident facilis nisi nam soluta beatae debitis. Et, recusandae, laudantium consequatur sed veritatis delectus rem.</p>
    </a>

    <a class="tab-block" href="#">
      <img class="tab-img" />
      <h5>Im a title of the Entry</h5>
      <p class="mini-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, consectetur, consequatur, ea, iste doloremque autem impedit est ut ullam quos commodi repellat dolore quidem vitae praesentium id rerum molestiae in sapiente iure! Ex, architecto laudantium quaerat sapiente consequuntur ad assumenda laborum et modi minima at ea neque nemo deleniti itaque? Consequatur, veniam debitis ipsam earum est error consequuntur iusto quam maxime. Est, consectetur, explicabo, aspernatur modi illo minus dolor labore nam sequi alias aliquam dolorem hic nobis obcaecati ex commodi aliquid. Pariatur, suscipit, ullam ea saepe et a nam quo iste adipisci rem architecto accusamus laboriosam nisi! Repellendus, qui magnam! Debitis, molestiae, fuga, vel quaerat eveniet tempora aut neque quis nulla suscipit doloremque fugiat id ut facere excepturi ipsa earum rerum. Dolor, consectetur, deleniti, laborum, eaque doloribus repellendus aperiam ex porro illum molestias magnam facere provident facilis nisi nam soluta beatae debitis. Et, recusandae, laudantium consequatur sed veritatis delectus rem.</p>
    </a>

    <a class="tab-block" href="#">
      <img class="tab-img" />
      <h5>Im a title of the Entry</h5>
      <p class="mini-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, consectetur, consequatur, ea, iste doloremque autem impedit est ut ullam quos commodi repellat dolore quidem vitae praesentium id rerum molestiae in sapiente iure! Ex, architecto laudantium quaerat sapiente consequuntur ad assumenda laborum et modi minima at ea neque nemo deleniti itaque? Consequatur, veniam debitis ipsam earum est error consequuntur iusto quam maxime. Est, consectetur, explicabo, aspernatur modi illo minus dolor labore nam sequi alias aliquam dolorem hic nobis obcaecati ex commodi aliquid. Pariatur, suscipit, ullam ea saepe et a nam quo iste adipisci rem architecto accusamus laboriosam nisi! Repellendus, qui magnam! Debitis, molestiae, fuga, vel quaerat eveniet tempora aut neque quis nulla suscipit doloremque fugiat id ut facere excepturi ipsa earum rerum. Dolor, consectetur, deleniti, laborum, eaque doloribus repellendus aperiam ex porro illum molestias magnam facere provident facilis nisi nam soluta beatae debitis. Et, recusandae, laudantium consequatur sed veritatis delectus rem.</p>
    </a>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="random" aria-labelledby="random-tab"><p>IM A POSITIVE VOTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo illo praesentium magni iure nostrum sint quod ab delectus iusto.</p></div>

    <div role="tabpanel" class="tab-pane fade in" id="mvoted" aria-labelledby="mvoted-tab"><p>IM A NEGATIVE VOTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo illo praesentium magni iure nostrum sint quod ab delectus iusto.</p></div>

  </div>

  </article>
</section>
