<% provide(:title, "Forgot password") %>
<header class="edit"><h1>Forgot password</h1></header>

    <%= form_for(:password_reset, :html => { :class => 'form-sign' }, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Submit" %>
    <% end %>