<% provide(:title, 'Sign up') %>
<header class="signup"><h1>Sign up</h1></header>
  <%= form_for(@user, :html => { :class => 'form-sign' }) do |f| %>
    <%= render 'fields', f: f %>

    <%= f.submit "Create my account" %><%= link_to 'Cancel', root_path, style: 'position: absolute; bottom: 10px;' %>
  <% end %>
