<% provide(:title, @user.name) %>
<section data-type="profile-user" class="user-profile fr">
  <header>
    <h2>
        <%= @user.name %>
        <span><i class="fa fa-cog"></i></span>
    </h2>
  </header>
  <article class="articles-wrapper">
  <ul class="nav nav-tabs cf">
    <li role="presentation" class="active"><a href="#">Entries</a></li>
    <li role="presentation"><a href="#">Positives Votes</a></li>
    <li role="presentation"><a href="#">Negatives Votes</a></li>
    <li role="presentation"><a href="#">Followers</a></li>
  </ul>
  </article>
</section>

<aside data-type="profile-sidebar" class="sidebar-profile">
  <%= gravatar_for @user %>
</aside>