.alert-success {
  padding: 15px;
  text-align: center;
  margin: 10px 0px;
  cursor: default;
  @extend %btn-green;
  &:hover {
    cursor: default;
  }
}
.alert-danger {
  padding: 15px;
  text-align: center;
  margin: 10px 0px;
  cursor: default;
  @extend %btn-red;
  &:hover {
    cursor: default;
  }
}