//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
li.dropdown b {
  width: 5px;
  height: 5px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-bottom: 22px;
  border-top:   $caret-width-base solid;
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}

// The dropdown wrapper (div)
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
ul.dropdown-menu {
  height: auto !important;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;
  @include border-radius-separate(0px, 0px, 3px, 3px);

  // Links within the dropdown menu
  & li {
    height: 30px !important;
    margin-top: 2px;
    width: 100%;
    display: block !important;
    line-height: 30px;
    & a {
      padding-left: 20px;
      line-height: 30px !important;
      margin-bottom: 2px;
      width: 100%;
      display: inline-block;
      font-size: .9em;
      &:hover {
        color: black !important;
      }
    }
  }
}

.dropdown-menu > li:hover {
  background-color: lighten($bg-grey, 30%);
  color: black !important;
}

.dropdown-menu > li:last-child {
  border-top: 1px solid black(.1);
  & a {
    color: $bg-red;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Dropdown for avatar mini
li.dropdown {
  height: 50px !important;
  & a.dropdown-toggle {
    height: 50px !important;
    text-align: right;
  }
}
li.dropdown a i {
    display: inline-block;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

li.dropdown a > span {
  position: relative;
  margin-right: 35px;
  & img {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    margin-top: 10px;
    @include border-radius;
  }
}
