.main-footer {
  @include absPosition(auto, auto, 0, auto);
  height: 45px;
  padding: $header-footer-pad;
  margin-top: 5px;
  border-top: 1px solid black(.1);
  width: 100%;
  margin: 0 auto;
  & nav {
    height: 40px;
    width: 70%;
    margin: 0 auto;
  & ul {
    margin-top: 5px;
    list-style-type: none;
    & li {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
}