.main-footer {
  margin-bottom: 0;
  height: 50px;
  padding: $header-footer-pad;
  margin-top: 5px;
  border-top: 1px solid rgba(0,0,0,.1);
  width: 70%;
  margin: 0 auto;
  & ul {
    margin-top: 5px;
    list-style-type: none;
    & li {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}