.main-header {
  box-shadow: 1px 1px 10px rgba(18, 238, 38, 0.1);
  background-color: white;
  height: 50px;
  color: #222;
  padding: $header-footer-pad;
  line-height: 50px;
  margin-top: 0;
  top: 0;
  position: relative;
  & nav {
    height: 50px;
    width: 70%;
    margin: 0 auto;
    & ul li.logo {
        background-color: black(.8);
        @include circle;
        line-height: 50px;
        position: relative;
        cursor: pointer;
      & span a {
        height: 50px;
        margin-left: 70px;
        line-height: 50px;
        font-size: 1.2em;
        color: black;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        display: inline-block;
      }
    }
  }
  & ul {
    height: 50px;
    list-style-type: none;
    & li {
      display: inline-block;
    }
  }
}


