@import 'style';

section.user-profile {
  width: 75%;
  background-color: white;
  @include border-radius;
  & ul.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    & li {
      float: left;
      margin-bottom: -1px;
      position: relative;
      display: block;
      padding: 3px;
      margin-left: 10px;
      &.active > a {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        padding: 10px;
        @include border-radius;
        text-decoration: none;
      }
    }
    }
    & .tab-content >.tab-pane {
      display: none;
      visibility: hidden;
    }
    & .tab-content > .active {
      margin-top: 10px;
      display: block;
      visibility: visible;
    }
    & .fade {
      opacity: 0;
      -webkit-transition: opacity .15s linear;
      -o-transition: opacity .15s linear;
      transition: opacity .15s linear;
    }
    & .fade.in {
        opacity: 1;
      }
  padding: 10px;
  & header {
    height: 40px;
    display: block;
  }
  & header h2 {
    font-size: 2.5em;
    color: #000;
    & span {
      margin-left: 10px;
      font-size: .7em;
      opacity: .8;
      display: inline-block;
      height: 30px;
      position: relative;
      i {
        position: absolute;
        margin-top: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

aside.sidebar-profile {
  width: 25%;
  padding: 10px;
  border: 1px solid black;
}