@import "reset";
@import "utility";
@import "variables";
@import "mixins";
@import "functions";
@import "fonts";
@import "form_search";
@import "form_sign";
@import "buttons";
@import "alerts";
@import "dropdowns";
@import "pagination";
@import "budgets";
@import 'header';
@import 'footer';

html {
  height: 100%;
}

body.guest {
  min-height: 100%;

  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: black(.7);
  padding-bottom: 40px;   /* Height of the footer */
}

body.guest:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff url("thumbs-girl.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  min-height: 100%;
  background-image: asset-url('bg-body.jpeg');
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: black(.7);
  padding-bottom: 40px;   /* Height of the footer */
  @include letterpress(.8);
  width: 100%;
  position: relative;
  & a {
    color: $p-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Keyboard */
kbd {
padding: 2px 4px;
font-size: 90%;
color: #fff;
background-color: #333;
border-radius: 3px;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  z-index: 100;
}

/* Sign Up page form */
header.signup, header.signin, header.edit, header.list {
  margin-bottom: 20px;
}

div.gravatar_edit {
  margin-left: 30px;
}

/* Users index */
.users li p {
  margin-top: 20px;
}
.delete-user {
  & a {
    @extend %btn-red;
    font-size: .8em !important;
    height: 20px !important;
    line-height: 9px !important;
    @include border-radius(3px);
    margin-top: 17px;
    margin-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}
.users {
  list-style: none;
  margin: 0;
  li {
    height: 75px;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black(.1);
    display: block;
    & a {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: top;
    }
  }
}

section.home-tabs {
  & .tab-content >.tab-pane {
      display: none;
      visibility: hidden;
    }
  & .tab-content > .active {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    visibility: visible;
  }
  & .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }
  & .fade.in {
      opacity: 1;
    }
    & ul.nav-tabs-home li.active a {
        position: relative;
        color: #555;
        cursor: default;
        text-decoration: none;
        z-index: 100;
    }
  & ul.nav-tabs-home {
    height: 40px;
    list-style-type: none;
     & li {
      float: left;
      height: 40px;
      position: relative;
      display: block;
      padding-bottom: 20px;
      & a {
        display: inline-block;
        line-height: 40px;
        margin-left: 30px;
        font-size: 1.2em;
        text-decoration: none;
      }
     }
  }
}
  div.tab-content {
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.15);
    @include border-radius(3px);
  & li {
  margin-bottom: 5px;
  }
}
aside.vote-count {
  height: 50px;
  display: block;
  line-height: 50px;
  position: relative;
  & a.vpos {
      text-decoration: none;
      color: $bg-green;
      font-size: 1.8em;
      transition: .1s all;
      display: block;
      max-height: 50px;
      line-height: 50px;
      text-align: right;
      width: 48%;
      &:hover {
        transition: .1s all;
        font-size: 2em;
      }
    }
  & a.npos {
      text-decoration: none;
      color: $bg-red;
      font-size: 1.8em;
      transition: .1s all;
      display: block;
      max-height: 50px;
      line-height: 50px;
      text-align: left;
      float: right;
      width: 48%;
      margin-top: -50px;
      &:hover {
        transition: .1s all;
        font-size: 2em;
      }
  }
}
a.tab-block-entry:first-child {
  border-top: none;
}
li.bind {
  border-bottom: 1px solid black(.1);
  &:last-child {
    border-bottom: none;
  }
}
a.tab-block-entry {
    width: 100%;
    height: 80px;
    display: block;
    margin: 5px;
    border-top: 1px solid black(.1);
    padding-top: 5px;
    transition: .3s all;
    &:hover {
      margin-left: -3px;
      transition: .3s all;
      text-decoration: none;
    }
  }

h5.title-entry {
    font-size: 1.2em;
    font-weight: bolder;
    &:first-letter {
      text-transform: uppercase;
    }
  }
img.tab-img-entry {
    height: 60px;
    width: 60px;
    border: 1px solid black(.1);
    float: left;
    margin-right: 10px;
    @include border-radius(3px);
  }
p.mini-desc-entry {
    font-size: 1em;
    color: #555;
    margin-left: 70px;
    text-decoration: none;
    overflow: hidden;
/* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 50px;
    padding-right: 5px;
    &:hover {
      text-decoration: none;
    }
  }
  span.timestamp {
    font-size: .7em;
    color: grey;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
}
    section.home-tabs li.active:after {
          content: '▲';
          color: white;
          position: absolute;
          display: inline-block;
          width: 30px;
          height: 30px;
          font-size: 2em;
          margin-left: -55%;
          margin-top: 40px;
          margin-bottom: 0px;
          text-shadow: 0 -4px 5px black(.3);
          transform:scale(1.5,1.0);
  }

section.entry-id {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.15);
  @include border-radius(3px);
  padding: 10px;
  & div.tab-block-entry-show {
    min-height: 200px;
    display: block;
    padding: 5px;
    pos
    & h5.title-entry {
      color: $p-link;
      margin-bottom: 5px;
    }
    & img.tab-img-entry-show {
      float: left;
      display: block;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      background-color: #f1f1f1;
      padding: 3px;
      border: 1px solid black(.1);
      @include border-radius(3px);
    }
    & p.mini-desc-entry-show {

    }
    & span.timestamp-show {
      font-size: .7em;
      color: grey;
      float: right;
      margin-top: -25px;
    }
  }
}

/* Section Guest */

body.guest {
    & header.main-header {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
    & nav ul.fl li.logo a {
      color: white;
    }
    & nav ul.fr li a {
      color: white;
      text-shadow: none;
    }
  }
}

section.welcome-guest {
  color: white;
  text-shadow: none;
  margin-top: 50px;
  & article.left-note-guest {
    width: 60%;
    & header {
      margin-bottom: 40px;
      font-size: 1.7em;
    }
    & p.note {
      font-size: 1.5em;
      line-height: 30px;
      margin-bottom: 80px;
    }
    & .show {
      display: block;
    }
    & p.feedback-first {
      padding: 10px 0px;
      display: block;
    }
    & p.feedback-second {
      padding: 10px 0px;
      display: block;
    }
    & p.feedback-third {
      padding: 10px 0px;
      display: block;
    }
    & p.feedback-four {
      padding: 10px 0px;
      display: block;
    }
  }
}

/* Delete Entry Button */
  a span.delete-entry, a span.delete-entry-id {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: white;
    width: 20px;
    height: 20px;
    background-color: $bg-red;
    @include border-radius(50%);
    display: none;
  }

  li.bind:hover > a span.delete-entry {
    display: block;
  }

  li.bind:hover > div.tab-block-entry-show a span.delete-entry-id {
    display: block;
  }

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    text-shadow: none;
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:-2px
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}