@import "reset";
@import "utility";
@import "variables";
@import "mixins";
@import "functions";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import "form_search";
@import "buttons";
@import 'header';
@import 'footer';

body {
  height: 100px;
  background-image: asset-url('background-noise.png');
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: black(.7);
  @include letterpress(.8);
  width: 100%;
  & a {
    color: $p-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
