@import "reset";
@import "utility";
@import "variables";
@import "mixins";
@import "functions";
@import "fonts";
@import "form_search";
@import "form_sign";
@import "buttons";
@import "alerts";
@import "dropdowns";
@import "pagination";
@import "budgets";
@import 'header';
@import 'footer';

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: asset-url('background-noise.png');
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  color: black(.7);
  padding-bottom: 40px;   /* Height of the footer */
  @include letterpress(.8);
  width: 100%;
  position: relative;
  & a {
    color: $p-link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Keyboard */
kbd {
padding: 2px 4px;
font-size: 90%;
color: #fff;
background-color: #333;
border-radius: 3px;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  z-index: 100;
}

/* Sign Up page form */
header.signup, header.signin, header.edit, header.list {
  margin-bottom: 20px;
}

div.gravatar_edit {
  margin-left: 30px;
}

/* Users index */
.users li p {
  margin-top: 20px;
}
.delete-user {
  & a {
    @extend %btn-red;
    font-size: .8em !important;
    height: 20px !important;
    line-height: 9px !important;
    @include border-radius(3px);
    margin-top: 17px;
    margin-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}
.users {
  list-style: none;
  margin: 0;
  li {
    height: 75px;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black(.1);
    display: block;
    & a {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      vertical-align: top;
    }
  }
}