<footer class="main-footer" data-main-footer="main-footer" role="navigation">
    <nav>
      <ul class="fl" data-main-left-nav-footer="left-nav-footer" role="menubar">
        <li role="menu-item">&copy Copyright <%= Time.now.year %></li>
      </ul>
      <ul class="fr" data-main-right-nav-footer="right-nav-footer" role="menubar">
        <li role="menu-item"><%= link_to 'TOS', tos_path %></li>
        <li role="menu-item"><%= link_to 'Contact', contact_path %></li>
        <li role="menu-item"><%= link_to 'Help', help_path %></li>
      </ul>
    </nav>
</footer>